.row.work{'data-id' => "#{work.id}", 'data-week' => "#{work.week_number}"}
  .col-sm-1.id= work.id
  .col-sm-1.job= work.job
  .col-sm-2.checkin= format_time work.checkin
  .col-sm-2.checkout= format_time work.checkout
  .col-sm-2.hours= format_hours work.hours
  .col-sm-1= link_to 'delete', work_path(work), remote: true, method: :delete, class: 'work-delete'